<div class="eight columns offset-by-two">

	<h2>Log in</h2>

	<%= simple_form_for :session, url: session_path do |f| %> <!-- usually knows where to go, here apparently not -->

		<%= f.input :username %>
		<%= f.input :password %>

		<%= f.button :submit, "Log in" %>

	<% end %>

</div>

<div class="six columns offset-by-three mid social">

	<span>Sign up with ...</span>
	<%= link_to "Facebook", "/auth/facebook", class: "button" %>
	<%= link_to "Twitter", "/auth/twitter", class: "button" %>
	<%= link_to "Linkedin", "/auth/linkedin", class: "button" %>

</div>